@import url(normalize.css);
@import url(foundation.css);
@import url(font-awesome.css);
.home .title {
  color: #333; }

.home .nav-menu .menu-item {
  font-size: 4rem;
  margin-bottom: 6rem;
  background-color: #FF7400;
  padding: 1rem 0;
  text-align: center;
  position: relative;
  z-index: 0;
  cursor: pointer;
  color: #fdfdfd; }
  .home .nav-menu .menu-item:before {
    position: absolute;
    left: -5rem;
    height: 10rem;
    background-color: #FF7400;
    content: " ";
    width: 10rem;
    border-radius: 5rem;
    top: 0;
    z-index: -1;
    font-family: 'FontAwesome';
    color: #fdfdfd;
    padding-top: 2rem;
    font-size: 6rem; }
  .home .nav-menu .menu-item.request:before {
    content: "\f067"; }
  .home .nav-menu .menu-item.view:before {
    content: "\f0f6"; }
  .home .nav-menu .menu-item:hover, .home .nav-menu .menu-item:hover:before {
    background-color: #FF9A46; }

.report .vacation-item {
  line-height: 160%; }
